<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"># Reserva</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Juego</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of reservas; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ compra.data.nombre }}</td>
                    <td>{{ compra.data.apellido }}</td>
                    <td>{{ compra.data.cedula }}</td>
                    <td>{{ compra.data.correo }}</td>
                    <td>{{ compra.data.juego }}</td>
                    <td>{{ compra.data.cantidad }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
