<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-vista-detalle></app-vista-detalle>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <form>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Nombre</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">

                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Apellido</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Cédula</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Cédula">

                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Correo</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Correo">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 col-md-3 col-lg-2">
                        <label for="exampleFormControlSelect1">Cantidad</label>
                        <select class="form-control text-center" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
