<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let juego of juegos">
            <div class="card" style="width: 18rem;">
                <img [src]=juego.background_image class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ juego.name }}</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>