<div class="container-fluid">
    <div class="row m-auto justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let juego of juegos">
            <div class="card h-100">
                <img [src]=juego.background_image class="imagen card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ juego.name }}</h5>
                    <a href="#" class="btn btn-primary w-75 d-block m-auto">VER DETALLE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-success w-50 d-block m-auto" (click)="cargarMas()">CARGAR MÁS</a>
        </div>
    </div>
</div>