<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <img [src]=juego.background_image alt="" class="imagen img-fluid">
        </div>
        <div class="col-7">
            <h4>Titulo</h4>
            <p>{{juego.name}}</p>
            <h4>Descripción</h4>
            <div [innerHTML]=juego.description></div>
            <h4>Fecha de Lanzamiento</h4>
            <p>{{ juego.released }}</p>
            <h4>Géneros</h4>
            <p *ngFor="let genero of juego.genres">+ {{ genero.name }}</p>
            <h4>Desarrolladores y publicadores</h4>
            <p *ngFor="let desarrollador of juego.developers">{{ desarrollador.name }}</p>
            <h4>Rating del juego</h4>
            <p>{{ juego.rating }}</p>
            <h4>Plataformas</h4>
            <p *ngFor="let plataforma of juego.platforms">{{ plataforma.platform.name }}</p>
            <h4>Screenshots</h4>
            <img *ngFor="let screen of juego.stores" [src]=screen.store.image_background alt="">
            <h4>Trailer</h4>
            <video [src]=juego.clip.clip controls></video>
        </div>
    </div>
</div>
